body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif
}

.navbar {
    background-color: black;
    text-align: center;
    padding: 10px;
}

.logout {
    background-color: white;
    border: none;
    color: black;
    padding: 12px;
    margin: 10px;
    text-align: center;
    display: inline;
    float: right;
    font-size: 16px;
}

.greeting {
    color: white;
    display: inline;
    float: right;
}
