body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.navbar {
    background-color: black;
    text-align: center;
    padding: 10px;
}

.logout {
    background-color: white;
    border: none;
    color: black;
    padding: 12px;
    margin: 10px;
    text-align: center;
    display: inline;
    float: right;
    font-size: 16px;
}

.greeting {
    color: white;
    display: inline;
    float: right;
}

form {
    display: block;
    text-align: center;
}

input[type=text] {
    width: 500px;
    padding: 12px 20px;
    margin: 12px auto;
    display: block;
    box-sizing: border-box;
}

button[type=submit] {
    background-color: black;
    border: none;
    color: white;
    padding: 12px 50px;
    margin: 12px;
    text-align: center;
    font-size: 16px;  
}
